   
    <th:block th:include="/_header"></th:block>
    
    
    
    <div class="container">
        
        <h1 class="h3 mb-3 font-weight-normal">Order List</h1>
        
        
        <th:block th:if="${paginationResult == null}"> <!-- || cartForm.cartLines == null || cartForm.cartLines.empty -->
            <div class="row">
                <div class="col-md-12 mb-4">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">There are no orders yet</span>
                        <span class="badge bagde-secondary badge-pill">0</span>
                    </h4>
                    
                    <a  href="#"
                        class="btn btn-primary btn-md active"
                        role="button"
                        aria-pressed="true"
                        th:href="@{/productList}">Products</a>
                    
                    <!--
                    <h6 class="d-flex justify-content-between align-items-center mb-3">
                        <a class="nav-link" th:href="@{/productList}">Product List</a>
                    </h6>
                    -->
                </div>
            </div>
        </th:block>
        
        
        
        <th:block th:if="${paginationResult != null}"> <!-- && cartForm.cartLines != null && !cartForm.cartLines.empty -->

            
            <div class="card">
                <div class="card-header bg-dark text-light">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    Order List
                    <!--
                    <a  href="#"
                        class="btn btn-primary btn-md active pull-right"
                        role="button"
                        aria-pressed="true"
                        th:href="@{/productList}">Continue shopping</a>
                    -->
                    <div class="clearfix"></div>
                </div>

                <div class="card-body">

                    
                    <div class="row mb-3" th:each="orderInfo, varStatus : ${paginationResult}">
                        <!--
                        <div class="col-12 col-sm-12 col-md-2 text-center">
                            <img class="img-responsive"  th:src="${cartLineInfo.productInfo.frontThumbImageUrl}" alt="prewiew" width="120" height="120">
                            
                        </div>
                        -->

                        <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
                            <h4 class="product-name"><strong th:utext="${orderInfo.id}"></strong></h4>
                            <h4>
                                <small th:utext="${orderInfo.dateCreated}"></small><br>
                                <small th:utext="${orderInfo.status}"></small>
                            </h4>
                        </div>
                        
                        <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right">
                        <a  href="#"
                            class="btn btn-primary btn-md"
                            role="button"
                            aria-pressed="true"
                            th:href="@{|/customerOrdersDetail?id=${orderInfo.id}|}">View</a>
                        </div>
                        
                        
                        <!--
                        <form th:action="@{|/shoppingCart?code=${cartLineInfo.productInfo.id}|}"
                                method="POST" class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
                            <div class="col-3 col-sm-3 col-md-6 text-md-right" style="padding-top: 5px">
                                <h6><strong th:utext="${#numbers.formatDecimal(cartLineInfo.amount,3,2,'POINT')}"><span class="text-muted">x</span></strong></h6>
                            </div>

                            <div class="col-4 col-sm-4 col-md-4">
                                <div class="quantity">

                                    <input type="number" 
                                            class="form-control" id="quantity" 
                                            name="quantity" th:value="${cartLineInfo.quantity}" min="0"
                                            aria-describedby="Quantity" placeholder="" />
                                </div>
                            </div>
                            <div class="col-2 col-sm-2 col-md-2 text-right">
                                <button type="submit" 
                                        name="action"
                                        id="action" value="remove"
                                        class="btn btn-outline-danger btn-xs">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>

                            </div>
                        </form>
                        -->
                    <hr>
                    </div>

                    
                    <div class="pull-right">
                        <a href="" class="btn btn-outline-secondary pull-right">Update shopping cart</a>
                    </div>

                </div>
                <!--
                <div class="card-footer">
                    
                    <div class="pull-right" style="margin: 10px">
                        <a  href="#"
                            class="btn btn-primary btn-md active"
                            role="button"
                            aria-pressed="true"
                            th:href="@{/shoppingCartCheckout}">Checkout</a>
                        <div class="pull-right" style="margin: 5px">
                            Total price: <b th:utext="${#numbers.formatDecimal(cartForm.amountTotal,3,2,'POINT')}"></b>
                        </div>
                    </div>
                
                </div>
                -->
            </div>
            
            
        </th:block>
        
    </div>
        
    
    <th:block th:include="/_footer"></th:block>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      
</body>
</html>