<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">LaLiz</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no shrink-to-fit=no"/>
    
    <link   rel="stylesheet" 
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" 
            th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css}"
            integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" 
            crossorigin="anonymous">
    <link   rel="stylesheet" 
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            th:href="@{https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}"/>
    <link   rel="stylesheet" 
            href="https://unpkg.com/ionicons@4.5.5/dist/css/ionicons.min.css"
            th:href="@{https://unpkg.com/ionicons@4.5.5/dist/css/ionicons.min.css}"/>
    
</head>
<body>
    
    <th:block th:include="/_header"></th:block>
    
    
    <div class="container">
    
        <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
            <div class="col-md-12 px-0">
                <h1 class="display-4 font-italic">Title of a longer list of benefits</h1>
                <h3 class="display-4 font-italic">We offer</h3>
                <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this site’s contents.</p>
                <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this site’s contents.</p>
                <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this site’s contents.</p>
                <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
            </div>
        </div>

  
        <div class="row mb-2">
    
            
            <div class="col-md-6"
                th:each="categoryInfo: ${paginationResultCategory}">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success" th:text="${categoryInfo.id}"></strong>
                        <h3 class="mb-0" th:text="${categoryInfo.name}"></h3>
                        <div class="mb-1 text-muted">Nov 12</div>
                        <p class="card-text mb-auto" th:text="${categoryInfo.description}"></p>
                        
                        <a  href="#"
                        class="btn btn-primary btn-md active stretched-link"
                        role="button"
                        aria-pressed="true"
                        th:href="@{|/productList?categoryId=${categoryInfo.id}&page=1|}">View</a>
                        
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img th:src="${categoryInfo.thumbnailUrl}" width="200" height="200" class="d-block w-100" alt="${categoryInfo.name}"> 
                        
                        <!-- 
                        <img src="http://placehold.it/200x250" width="200" height="250" class="d-block w-100" alt="${categoryInfo.name}">
                        <img th:src="${categoryInfo.imageUrl}" width="200" height="250" class="d-block w-100" alt="${categoryInfo.name}"> 
                        
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                        -->
                    </div>
                </div>
            </div>
            
        
        </div>
    
    </div>
    
    
    
    <th:block th:include="/_footer"></th:block>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      
</body>
</html>