
    <th:block th:include="/_header"></th:block>
    
    
        <div class="container">

            <form class="form-signin"
                  method="POST"
                  th:action="@{/auth/login}">
                <img class="mb-4" src="http://placehold.it/72x72" alt="" width="72" height="72" />
                <h1 class="h3 mb-3 font-weight-normal">Please login</h1>

                <label for="email">Username</label>
                <input type="text" id="email" class="form-control" name = "email" placeholder="Email" required autofocus />

                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" placeholder="Password" required />

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me">Remember me
                    </label>


                    <span class="text-danger" th:utext="${error}"></span>

                </div>

                <!--
                <th:block th:if="${#session != null && #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}">
                    <div th:if="${#request.getParameter('error') == true}"
                        class='text-danger'>
                             <label class="text-danger">Login failed!
                                 <br />
                                 Reason:
                             </label>
                        <span ht:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}"></span>

                    </div>
                </th:block>
                -->


                <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
                <p class="mt-5 mb-3 text-muted">&copy; 2019</p>

            </form>

        </div>
    
    
    <th:block th:include="/_footer"></th:block>
    
